kubernetes:
  app: MY-LOGENTRIES-TOKEN
docker:
  app: MY-LOGENTRIES-TOKEN
etcd:
  app: MY-LOGENTRIES-TOKEN
kubelet:
  app: MY-LOGENTRIES-TOKEN
kube-proxy:
  app: MY-LOGENTRIES-TOKEN
kube-apiserver:
  app: MY-LOGENTRIES-TOKEN
kube-controller-manager:
  app: MY-LOGENTRIES-TOKEN
kube-scheduler:
  app: MY-LOGENTRIES-TOKEN
