<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${codedx.log.dir}/codedx.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${codedx.log.dir}/codedx-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%-5level %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="bootstrap" level="INFO" />
	<logger name="net.liftweb" level="WARN" />
    <logger name="com.avi.codedx.c.e.m.q.i.a" level="DEBUG" />
    <logger name="com.avi" level="INFO" />

	<root level="ERROR">
		<appender-ref ref="console" />
		<appender-ref ref="logFile" />
	</root>
</configuration>